.primary-button{
    display: block;
    padding: 5px 0;
    border: none;
    background-color: #17a2fa;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 0.7em;
    cursor: pointer;
}
