@import "header.css";
@import "footer.css";
@import "navigation.css";
@import "items.css";
@import "product.css";
@import "comments.css";
@import "admin.css";
@import "cart.css";
@import "primary-button/primary-button.css";
@import "primary-button/primary-button_size_l.css";
@import "orders.css";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #000;
    background-color: #fff;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
    color: #000;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}


.main {
    padding-bottom: 50px;
    flex: 1 0 auto;
}

.logo {

}

/*end global*/


/* nav menu */


@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}
